.newProjectForm {
  margin-top: 6rem;
}
.newProjectForm .inputText {
  border-bottom: 1px solid var(--gray2);
  border-radius: 0;
  background-color: var(--gray1);
}
.newProjectForm .inputText::placeholder {
  color: var(--gray2);
}

.projectsList li {
  margin-bottom: 2rem;
}
.projectsList li a {
  font-size: 1.4rem;
  color: var(--gray2);
  line-height: 1.5;
  font-weight: 300;
}

@media (min-width: 768px) {
  .containerApp {
    display: flex;
    min-height: 100vh;
  }
  .sectionPrincipal {
    flex: 1;
  }
}
