.tasksContainer {
  padding: 4rem;
}

.tasksList {
  max-width: 600px;
  margin: 0 auto;
}

.tasks {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0.5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
