.alert {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-family: var(--headingFont);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
}
@media (min-width:768px) {
    .alert {
        width: auto;
        top: 30px;
        right: 10px;
        left: auto;
    }
}

.alertOk {
    background-color: rgb(109, 211, 109);
    color: rgb(2, 103, 2);
}
.alertError {
    background-color: rgb(230, 78, 78);
    color: var(--white);
}
