.message {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.message:hover {
  cursor: default;
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--white);
}
